@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
:root {
  --bgc-color: rgb(187, 222, 224);
  --btn-color: rgb(82, 107, 187);
  --btn-color-hover: rgb(111, 128, 184);
  --font-white-clr: rgb(255, 255, 255);
  --fluid-width: 990px;
  --max-width: 1200px;
  --nav-height: 100px;
  --text-color: rgb(35, 49, 58);
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--bgc-color);
}

/* global classes */
.btn {
  background-color: var(--btn-color);
  padding: 0.5rem 1rem;
  color: var(--font-white-clr);
  letter-spacing: 2px;
  font-size: 1.3rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--btn-color-hover);
}
.page {
  min-height: calc(100vh - var(--nav-height));
  max-width: var(--max-width);
  margin: 0 auto;
}
.text {
  letter-spacing: 1px;
  margin: 2rem 0;
  color: var(--text-color);
  font-size: 1.1rem;
  line-height: 1.5;
}
